#notfound {
    position: relative;
    height: 92vh;
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.notfound {
    max-width: 920px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
    padding: 0 15px;
}

.notfound .notfound-404 {
    position: absolute;
    height: 100px;
    top: 0;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.notfound .notfound-404 h1 {
    color: hsl(0, 0%, 89%);
    font-weight: 900;
    font-size: 276px;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.notfound h2 {
    font-size: 46px;
    color: hsl(0, 0%, 0%);
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
}

.notfound p {
    font-size: 16px;
    color: hsl(0, 0%, 0%);
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 15px;
}

.notfound a {
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: hsl(203, 88%, 52%);
    display: inline-block;
    padding: 16px 38px;
    border: 2px solid transparent;
    border-radius: 40px;
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
}

.notfound a:hover {
    background-color: hsl(0, 0%, 100%);
    border-color: hsl(203, 88%, 52%);
    color: hsl(203, 88%, 52%);
}

@media only screen and (max-width:480px) {
    .notfound .notfound-404 h1 {
        font-size: 162px;
    }

    .notfound h2 {
        font-size: 26px;
    }
}